@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <partial name="/Areas/Admin/Views/Shared/Partials/HeadPartial.cshtml" />
</head>
<body>
    <div class="container-scroller">
        <partial name="/Areas/Admin/Views/Shared/Partials/SidebarPartial.cshtml" />
        <div class="container-fluid page-body-wrapper">
            <partial name="/Areas/Admin/Views/Shared/Partials/NavbarPartial.cshtml" />
            <div class="main-panel">
                @RenderBody()
                <partial name="/Areas/Admin/Views/Shared/Partials/FooterPartial.cshtml" />
            </div>
        </div>
    </div>
    <partial name="/Areas/Admin/Views/Shared/Partials/ScriptPartial.cshtml" />
</body>
</html>
