@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Traversal</title>
    <partial name="/Views/Shared/Partials/CssPartial.cshtml" />
</head>

<body>
    <partial name="/Views/Shared/Partials/HeaderPartial.cshtml" />
    @RenderBody();
    <partial name="/Views/Shared/Partials/FooterPartial.cshtml" />
    <partial name="/Views/Shared/Partials/ScriptsPartial.cshtml" />
</body>

</html>
