<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Member/Dashboard/Index/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/Reservation/NewReservations/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Rezervasyon Yap</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/Reservation/CurrentReservations/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Aktif Rezervasyonlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/Reservation/PreviousReservations/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Geçmiş Rezervasyonlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/Reservation/ApprovalReservations/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Oany Bekleyen Rezervasyonlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/skydash/index.html">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/skydash/index.html">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/skydash/index.html">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>             
    </ul>
</nav>