<div class="col-md-24 stretch-card grid-margin">
    <div class="card">
        <div class="card-body">
            <p class="card-title">Profil Bilgileri</p>
            <ul class="icon-data-list">
                <li>
                    <div class="d-flex">
                        <img src="~/skydash/images/faces/face1.jpg" alt="user">
                        <div>
                            <p class="text-info mb-1">İsim Soyisim</p>
                            <p class="mb-0">@ViewBag.Data1</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <div>
                            <p class="text-info mb-1">Kullanıcı Adınız</p>
                            <p class="mb-0">@ViewBag.Data2</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <div>
                            <p class="text-info mb-1">Telefon Numaranız</p>
                            <p class="mb-0">@ViewBag.Data3</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <div>
                            <p class="text-info mb-1">E-posta adresiniz</p>
                            <p class="mb-0">@ViewBag.Data4</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <div>
                            <p class="text-info mb-1">Profilinizi Düzenlemek için</p>
                            <small><a href="/Member/Profile/Index/">Tıklayın</a></small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
