@model List<Guide>
<div class="p-3 mb-2 stretch-card grid-margin">
    <div class="card">
        <div class="card-body">
            <p class="card-title">Notifications</p>
            <ul class="icon-data-list">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="d-flex">
                            <img src="@item.Img" alt="user">
                            <div>
                                <p class="text-info mb-1">@item.Name</p>
                                <p class="mb-0">@item.Description</p>
                                <small>@item.Status</small>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>